packages/
Prism.Container.Extensions/obj/
Prism.Microsoft.DependencyInjection.Extensions/obj/
Wesley.BitImageEditor/Wesley.BitImageEditor.Droid/obj/
Wesley.BitImageEditor/Wesley.BitImageEditor.IOS/obj/
Wesley.BitImageEditor/Wesley.BitImageEditor/obj/
Wesley.Client.Android/bin/
Wesley.Client.Android/obj/
Wesley.Client.iOS/obj/
Wesley.BitImageEditor/Wesley.BitImageEditor/bin/
Wesley.Client/bin/
Wesley.Client/obj/
Wesley.Easycharts/Easycharts.Forms/obj/
Wesley.Easycharts/Easycharts.Forms/bin/
Wesley.Easycharts/obj/
Wesley.Map/obj/
Wesley.Easycharts/bin/
Wesley.SlideOverKit/Wesley.SlideOverKit.Droid/obj/
Wesley.Map/bin/
Wesley.SlideOverKit/Wesley.SlideOverKit/obj/
Wesley.SlideOverKit/Wesley.SlideOverKit.iOS/obj/
Prism.Container.Extensions/bin/
Wesley.SlideOverKit/Wesley.SlideOverKit/bin/
Prism.Microsoft.DependencyInjection.Extensions/bin/
Wesley.BitImageEditor/Wesley.BitImageEditor.Droid/bin/
Wesley.SlideOverKit/Wesley.SlideOverKit.iOS/bin/
